body {
    margin: auto;
    padding: 1%;
    background-image: url("17.png");
    color: #c52a59;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

#form {
    color: #1d6666;
    background-color: #cceccc;
    margin-left: 40%;
    margin-right: 40%;
    padding: 2%;
}

p#subTitle {
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
}